<!--
    SPDX-FileCopyrightText: 2024-2026 The Refinery Authors <https://refinery.tools/>

    SPDX-License-Identifier: EPL-2.0
-->
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="${REFINERY_LOG_LEVEL:-WARN}">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
